# Copy this file to .env and fill in the values

# ─── Database ────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb://benja:hex@ac-m1qzgpf-shard-00-00.o2olbwr.mongodb.net:27017,ac-m1qzgpf-shard-00-01.o2olbwr.mongodb.net:27017,ac-m1qzgpf-shard-00-02.o2olbwr.mongodb.net:27017/?ssl=true&replicaSet=atlas-qc3wkq-shard-0&authSource=admin&appName=Cluster0

# ─── Auth ────────────────────────────────────────────────────────────────────
SESSION_SECRET=HJUi1Hj1EcPbD49LnFXbpmIzU+AEbvbdaUj6G0GDkiES/G5YSRbo4uMkLAAK69CmHQjrFCrUk7JYEt4QbdMnaA==

# ─── Server ──────────────────────────────────────────────────────────────────
PORT=8080
NODE_ENV=production

# ─── SMTP / Email ────────────────────────────────────────────────────────────
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_FROM=Hex Auth <noreply@yourdomain.com>
SMTP_PASS=your-re_X8mreYhu_J9YNyKa8avKKoqe4NwHNxez5

# ─── Logging ─────────────────────────────────────────────────────────────────
LOG_LEVEL=info
