modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21560 BASE_PATH=/ pnpm --filter @workspace/hex-auth run dev"
waitForPort = 21560

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 21560
externalPort = 80

[userenv]

[userenv.shared]
LOG_LEVEL = "info"
SMTP_HOST = "smtp-relay.brevo.com"
SMTP_PORT = "587"
SMTP_FROM = "Hex Auth <noreply@benjahexauth.qzz.io>"
MONGODB_URI = "mongodb://benja:hex@ac-m1qzgpf-shard-00-00.o2olbwr.mongodb.net:27017,ac-m1qzgpf-shard-00-01.o2olbwr.mongodb.net:27017,ac-m1qzgpf-shard-00-02.o2olbwr.mongodb.net:27017/?ssl=true&replicaSet=atlas-qc3wkq-shard-0&authSource=admin&appName=Cluster0"
SMTP_PASS = "xsmtpsib-ea95998217d3833fe3a1428fc90b4012a372f42092b39d2dc169671942c28b43-LnhJJkGkjRKw8Jfn"
SMTP_USER = "ad2913001@smtp-brevo.com"
